@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS for responsiveness */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/background.png");
  background-position: right;
  background-repeat: no-repeat;
  color: #000000; /* Default text color */
}

.modal-widths{
  width: auto;
}
@media (max-width: 768px) {
  body {
    background-size: contain;
    background-position: center;

  }

  .modal-widths{
    width: 90% !important;
  }
}

body.dark-mode {
  background-color: #535353; /* Dark mode background color */
  color: #ffffff; /* Dark mode text color */
}
/* Responsive styles for the entire application */
@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  
}

@media (max-width: 576px) {
  body {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 10px;
  }
}

 
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
 
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  } 
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
